* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
}

h2 {
  font-size: 3em;
  color: #e94d58;
  margin: 15px 0;
  text-align: center;
}
.btn-group {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

button {
  position: absolute;
  width: 150px;
  height: inherit;
  color: white;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 4px gray;
  border: 2px solid #e94d58;
  font-size: 1.2em;
}

.wrapper {

  text-align: center;
}

button:nth-child(1) {
  margin-left: -200px;
  background: #e94d58;
}

button:nth-child(2) {
  margin-right: -200px;
  background: #e94d58;
}
